@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}
body{
    background-color:#25282f ;
}
.portfolio-container{
    min-height:100vh ;
    width: 100%;
    display: flex;
    
}

.navlist{
    display: flex;
    gap: 4rem;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position:fixed ;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(243, 248, 253);
    
}
.navlist a:hover{
    color: cornflowerblue;

}
.content{
    margin-left: 4rem;
    margin-top: 10%;
}
.content .intro{
    font-size: 1.5rem;
    color: azure;
}
.content pre{
    margin-top: 2%;
    font-size: 1.5rem;
    color:azure;
}
.content h1{
    font-size: 4rem;
    color: #5DB9EE
}
.content .detail{
    font-size: 1.2rem;
    color: azure;
    max-width: 40rem;
    margin-top: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.content .daa{
    font-size: 1.2rem;
    color: azure;
    max-width: 40rem;
    margin-top: 1.1rem 0 3rem 0;
    line-height: 1.8rem;

}
.img-box{
margin-left: 300px;
margin-top: 90px;
border-radius: 500%;
width: 500px;
min-height: 500%;
}



